@font-face {
  font-family: 'helveticaBold';
  src: url('../../fonts/arabicFont/bahij-helvetica-neue-bold-5b4a23af3100e97913a34b20ca83e8fc.ttf') format('truetype');
}
@font-face {
  font-family: 'helveticaLight';
  src: url('../../fonts/arabicFont/bahij-helvetica-neue-light-156db5ca6c6c8c2aa9d00aad575eac17.ttf') format('truetype');
}

@font-face {
  font-family: 'helveticaRoman';
  src: url('../../fonts/arabicFont/bahij-helvetica-neue-roman-76445d0a72b073123066f7db4f298fd3.ttf') format('truetype');
}

.helveticaBold{
	font-family:helveticaBold !important;
}
.helveticaLight{
	font-family:helveticaLight !important;
}
.helveticaRoman{
	font-family:helveticaRoman !important;
}
.fontSize12{
	font-size: 12px !important;
}
.fontSize14{
	font-size: 14px !important;
}
.fontSize16{
	font-size: 16px !important;
}
.fontSize18{
	font-size: 18px !important;
}
.fontSize20{
	font-size: 20px !important;
}
.PageHeadingFontSize
{
	font-size: 26px !important;
}
