﻿.rtime:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/icns/watch.png) no-repeat 0px 0px;
}

.rdining:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;92
    background: url(../../images/icns/dining.png) no-repeat 0px 0px;
}
.rcall:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/icns/call1.png) no-repeat 0px 0px;
}
.rreserve:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/icns/unres.png) no-repeat 0px 0px;
}
.rphoto:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/icns/photo.png) no-repeat 0px 0px;
}
.rpic:after {
    content: '';
    margin-top: 0px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/icns/tebicon.png) no-repeat 0px 0px;
}
.rabout:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/about-us.png) no-repeat 0px 0px;
}
.rweb:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/icns/web.png) no-repeat 0px 0px;
}
.rpick:after {
    content: '';
    margin-top: 4px;
    margin-left: -25px;
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../images/icns/watch.png) no-repeat 0px 0px;
}
.rcross:after {
    font-weight: bold;
    font-size: larger;
    content: '';
    margin-top: 9px;
    /* margin-right: 20px; */
    margin-left: 542px;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background: url(../../error/error4045606.html) no-repeat 0px 0px;
}

.radd:after {
    content: '';
    display: block;
    height: 60px; /*height of icon */
    width: 60px; /*width of icon */
    position: absolute;
    background: url(../../error/error4043f48.html) no-repeat 0px 0px;
}

.rrm:after {
    content: '';
   
    display: block;
    height: 40px; /*height of icon */
    width: 40px; /*width of icon */
    position: absolute;
    background: url(../../error/error40444bf.html) no-repeat 0px 0px;
}
.rsuccess:after {
    content: '';
    margin-top: -43px;
    margin-left: 272px;
    display: block;
    height: 50px; /*height of icon */
    width: 72px; /*width of icon */
    position: absolute;
    background: url(../images/icns/suc.html) no-repeat 0px 0px;
}
.ruser:after {
    content: '';

   
    display: block;
    height: 50px; /*height of icon */
    width: 72px; /*width of icon */
    position: absolute;
    background: url('../images/icns/user%20(1.html).png') no-repeat 0px 0px;
}